<h1>Round Robin - Ingrese los Procesos</h1>
CPU: <input type="number" id="cpu" min="1" required>
Quantum: <input type="number" id="quantum" min="1" required>
<button type="button" onclick="agregarProceso()">Agregar</button>

<table id="tabla">
    <tr><th>N</th><th>CPU</th></tr>
</table>

<input type="hidden" name="procesos" id="procesos_hidden">
<input type="hidden" name="quantum_hidden" id="quantum_hidden">
<button type="submit" onclick="enviarProcesos()">Iniciar Simulación</button>

<script>
let procesos = [];
function agregarProceso() {
    let cpu = document.getElementById("cpu").value;
    if(cpu === "") { alert("Ingrese tiempo CPU"); return; }

    procesos.push({cpu: cpu});
    actualizarTabla();
    document.getElementById("cpu").value = "";
}

function actualizarTabla() {
    let tabla = document.getElementById("tabla");
    tabla.innerHTML = "<tr><th>N</th><th>CPU</th></tr>";
    procesos.forEach((p, idx) => {
        let row = tabla.insertRow();
        row.insertCell(0).innerText = idx;
        row.insertCell(1).innerText = p.cpu;
    });
}

function enviarProcesos() {
    document.getElementById("procesos_hidden").value = JSON.stringify(procesos);
    document.getElementById("quantum_hidden").value = document.getElementById("quantum").value;
}
</script>
